.lowerZindex {
  z-index : -2 !important;
}

.imageContainer {
  display: inline-block;
  list-style: none;
  position: relative;
  min-height: 300px;
}

.imagePlaceholder-innerwrapper {
  padding: 0 10px;
}

.image-placeholder-text {
  line-height: 300px;
}

.fileDropZone {
  width: 95%;
  height: 95%;
  border: 1px solid #ccc;
  text-align: center;
  position: absolute;
  top : 0;
  left :0;
  z-index : 2;
  background-color: #fff;
}

.displayImage {
  position: absolute;
  top : 0;
  left :0;
  width: 95%;
  height: 300px;
}

.displayImage .file-name {
  position: absolute;
  z-index: 0;
  bottom: 15px;
  width: 100%;
  background: #000;
  opacity: 0.6;
  height: 40px;
  color: #ff0;
  font-size: 1.5em;
  text-align: center;
  z-index: 1;
}

.displayImage img {
   max-width: 100%;
   min-height:95%;
}